<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      lang="en">

<head>
    <div th:replace="fragments :: header-css"/>
</head>

<body>

<div class="container-fluid">

    <div th:replace="fragments :: header-top"/>

    <div class="row mt-3">

        <div th:replace="fragments :: left-menu"/>

        <div class="col-sm-10">
            <form action="/createnet" method="post">
                <div class="container-fluid border border-secondary rounded" style="background-color: #dddddd">
                    <div class="row mt-3">
                        <div class="col col-sm-12">
                            <h2 th:text="${msg}" style="text-align: center; color: red"></h2>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col col-sm-3">
                            <div class="mt-2 text-center">
                                <div>Net name:</div>
                                <input type="text" name="netName" th:value="${netName}" placeholder="IP cameras net"
                                       style="width:130px; text-align: center"/>
                            </div>
                        </div>
                        <div class="col col-sm-3">
                            <div class="mt-2">
                                <div>Owner</div>
                                <input type="text" name="owner" th:value="${owner}" placeholder="owner"/>
                            </div>
                        </div>
                        <div class="col col-sm-6">
                            <div class="mt-2">
                                <div>Description</div>
                                <input type="text" name="description" th:value="${description}" placeholder="Description"/>
                            </div>
                            <div class="mt-3 mb-3"><input type="submit"/></div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div th:replace="fragments :: footer"/>

</div>

</body>

</html>