<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      lang="en">

<head>
    <div th:replace="fragments :: header-css"/>
</head>

<body>

<div class="container-fluid">

    <div th:replace="fragments :: header-top"/>

    <div class="row mt-3">

        <div th:replace="fragments :: left-menu"/>

        <div class="col-sm-10">
            <form action="/index" method="post">
                <div class="container-fluid">
                    <div class="row rounded">
                        <div class="col-sm-3 text-center alert-info border border-info rounded">Net</div>
                        <div class="col-sm-3 text-center alert-info border border-info rounded">Owner</div>
                        <div class="col-sm-6 text-center alert-info border border-info rounded">Description</div>
                    </div>
                    <div class="row border border-info rounded" th:each="net:${nets}">
                        <div class="col-sm-3 text-center">
                            <a th:href="@{/subnets/(id=${net.id})}" th:text="${net.net}">Net</a>
                        </div>
                        <div class="col-sm-3 text-center" th:text="${net.owner}">Owner</div>
                        <div class="col-sm-6" th:text="${net.getDescription()}">Description</div>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div th:replace="fragments :: footer"/>

</div>

</body>

</html>