<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      lang="en">

<head>
    <div th:replace="fragments :: header-css"/>
</head>

<body>

<div class="container-fluid">

    <div th:replace="fragments :: header-top"/>

    <div class="row mt-3">

        <div th:replace="fragments :: left-menu"/>

        <div class="col-sm-10">
            <form action="/index" method="post">
                <div class="container-fluid">
                    <div class="row badge-info rounded p-1">
                        <div class="col-sm-1 text-center mt-1">
                            <!--<a href="/">Edit subnet</a>-->
                            <!--<a th:href="@{/edit/(subnet=${ip.getIp()})}">Edit subnet</a>-->
                        </div>
                        <div class="col-sm-2 text-center mt-1">Search:
                            <input class="rounded" type="hidden" th:value="${net}" name="fnet"/>
                        </div>
                        <div class="col-sm-3 text-center">
                            <input class="rounded" type="text" name="fType" th:value="${fType}" placeholder="DeviceType"
                                   style="width:inherit; text-align: center"/></div>
                        <div class="col-sm-2 text-center">
                            <input class="rounded" type="text" name="fDevId" th:value="${fDevId}" placeholder="DeviceId"
                                   style="width:inherit; text-align: center"/></div>
                        <div class="col-sm-2 text-center">
                            <input class="rounded" type="text" name="fDescr" th:value="${fDescr}" placeholder="Description"
                                   style="width:inherit"/></div>
                        <div class="col-sm-2 text-center">
                            <input class="btn-info rounded" type="submit"/></div>
                    </div>
                    <div class="row rounded">
                        <div class="col-sm-3 text-center alert-info border border-info rounded">Ip</div>
                        <div class="col-sm-3 text-center alert-info border border-info rounded">DeviceType</div>
                        <div class="col-sm-2 text-center alert-info border border-info rounded">DeviceId</div>
                        <div class="col-sm-4 text-center alert-info border border-info rounded">Description</div>
                    </div>
                    <div class="row border border-info rounded" th:each="ip:${ipList}">
                        <div class="col-sm-3 text-center">
                            <a th:href="@{/ip/(ip=${ip.getIp()})}" th:text="${ip.getIpFromBinaryIp()}">Ip</a>
                        </div>
                        <div class="col-sm-3" th:text="${ip.getDeviceType()}">DeviceType</div>
                        <div class="col-sm-2 text-center" th:text="${ip.getDeviceId()}">DeviceId</div>
                        <div class="col-sm-4" th:text="${ip.getDescription()}">Description</div>
                    </div>
                </div>
                <nav>
                    <ul class="pagination m-2 pl-3">
                        <li th:each="p : ${#numbers.sequence( 1, pages)}">
                            <input type="submit" name="page" th:value="${p}" th:class="${p}==${page}?'btn-info m-1 rounded':'btn-light m-1 rounded'" style="width: 30px"/>
                        </li>
                    </ul>
                </nav>
            </form>
        </div>
    </div>

    <div th:replace="fragments :: footer"/>

</div>

</body>

</html>